<h3 class="title-main"><%= t 'preview_report' %></h3>
<% @reports[:charts].each do |chart| %>
  <div class="preview-wrap">
    <div class="report-info">
      <table class="report-info-table table-info">
        <tr>
          <td><%= t 'report_title' %>:</td>
          <td class='report-title'><%= chart[:label] %></td>
        </tr>
        <tr>
          <td class="table-item"><%= t 'description' %>:</td>
          <td>
              <%= chart[:description] %>
          </td>
        </tr>
        <tr>
          <td class="table-item"><%= t 'users_list' %>:</td>
          <td>
            <ul>
              <% @reports[:data][:users].each do |user| %>
                <li class="user">
                  <%= image_tag(user.avatar.file.url, class: 'avatar') %>
                  <span><%= user.name %></span>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
      </table>

      <button type="button" class="btn btn-green download-pdf"><%= t 'download' %></button>
      <button type="button" class="btn btn-green print-reports"><%= t 'print' %></button>
    </div>

    <div class="chart">
    </div>
    <% if chart[:table] %>
      <%= render 'test_reports/tables/' + chart[:table][:name], chart[:table][:key] => chart[:table][:item] %>
    <% end %>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    reports = <%= raw @reports[:charts].to_json %>
    drawCanvas(reports);
    generate_pdf();
  });
</script>
