<tr>
  <td colspan="3">
    <%= image_tag(user.avatar.file.url, class: 'avatar') %>
    <span><%= user.name %></span>
  </td>
  <td class="issue-time">
    <%= SpentTimeParsing.spent_time_view(
          TimeManagement.retrieve_spent_time(
            user.time_managements.in_project(@project)
          )
        ) %>
  </td>
</tr>
<% user.issues.in_project(@project.id).each do |issue| %>
  <tr>
    <td class="issue-id">#<%= issue.project_issue_number %></td>
    <td class="issue-title"><%= issue.summary %></td>
    <td class="issue-type"><%= issue.issue_type %></td>
    <td class="issue-time">
      <%= SpentTimeParsing.spent_time_view(
            TimeManagement.retrieve_spent_time(
              user.time_managements.in_issue(issue.id)
            )
          ) %>
    </td>
  </tr>
<% end %>
