<%= form_for(@synchronization, url: url, validate: true, method: method_name, remote: true) do |f| %>
  <%= hidden_field_tag :plugin_name, @plugin_name %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="modal-content-scroll">
    <div class="modal-body">
      <div class="row">
        <div class="col xs-12">
          <div class="input_wrapper">
            <%= f.label :base_url, class: 'title star' %>
            <%= f.text_field :base_url, validate: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col xs-6">
          <div class="input_wrapper">
            <%= f.label :username, class: 'title star' %>
            <%= f.text_field :username, validate: true %>
          </div>
        </div>
        <div class="col xs-6">
          <div class="input_wrapper">
            <%= f.label :password, class: 'title star' %>
            <%= f.password_field :password, validate: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col xs-12">
          <div class="input_wrapper">
            <%= f.label :project_key, t('project_key'), class: 'title star' %>
            <%= f.text_field :project_key, validate: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col xs-12">
          <div class="input_wrapper">
            <%= f.label :board_name, t('board_name'), class: 'title' %>
            <%= f.text_field :board_name %>
          </div>
        </div>
      </div>
      <%= render partial: 'setting_plugin_boxes', locals: { f: f } %>
    </div>
  </div>
  <div class="actions btn-group">
    <%= f.submit t('connect'), class: 'btn btn-green' %>
    <span class="btn btn-white-green btn-big cancel"><%= t('cancel') %></span>
  </div>
<% end %>
