<div>
  <div class="input_wrapper disabled disabled-select">
    <label class="title"><%= t 'project_key' %></label>
    <input type='url' value="<%= setting.project_key %>">
  </div>
  <div class="input_wrapper disabled disabled-select">
    <label class="title"><%= t 'board_name' %></label>
    <input type='url' value="<%= setting.board_name %>">
  </div>
  <div class="input_wrapper disabled disabled-select">
    <label class="title"><%= t 'base_url' %></label>
    <input type='url' value="<%= setting.base_url %>">
  </div>
  <%= render partial: 'synchronizations/setting_plugin_boxes_show',
             locals: { setting: setting } %>
</div>