<div>
  <div class="input_wrapper disabled disabled-select">
    <label class="title"><%= t 'project_name' %></label>
    <input type='url' value="<%= setting.project_name %>">
  </div>
  <div class="input_wrapper disabled disabled-select">
    <label class="title"><%= t 'api_token' %></label>
    <input type='url' value="<%= setting.api_token %>">
  </div>
  <%= render partial: 'synchronizations/setting_plugin_boxes_show',
             locals: { setting: setting } %>
</div>