<div class="agile_bord" data-project-status-id='<%= project_status.id %>' style='<%= status_visible(project_status) %>'>
  <div class='agile_title' data-status-id='<%= status.id %>'>
    <span><%= internatiolize_default_status_name(status) %>
      (<span class='count'><%= issues.size %></span>)
    </span>
    <%= edit_status_view(status) %>
  </div>
  <div class="change-bg-btn change-bg-<%= project_status.color %>"></div>
  <div class='connectedSortable agile_content column-bg-<%= project_status.color %>' data-status-name='<%= status.name %>'>
    <%= render issues %>
  </div>
</div>