<div class="modal-dialog report-a-bug">
  <div class="modal-content container">
    <div class="title-main">
      <h3><%= t('report.to_project') %></h3>
      <span class="close">
        <%= image_tag('close-icon.svg', class: 'img-svg') %>
      </span>
    </div>
    <%= form_for(@issue, url: report_bug_path,
                         validate: true,
                         html: { multipart: true, class: 'form_with_dropzone' },
                         remote: true) do |f| %>
    <div class="modal-body">
      <div class="modal-content-scroll">

        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <div class="row">
          <div class="col md-12">
            <div class="input_wrapper">
              <%= f.label :summary, class: 'title star' %>
              <%= f.text_field :summary, autofocus: true, validate: true %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col md-12">
            <div class="input_wrapper">
              <%= f.label :description, class: 'title' %>
              <%= f.text_area :description, class: 'desc',
                                            cols: '30',
                                            rows: '10' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col xs-12">
            <h3 class="title"><%= t('attachments') %></h3>
            <div  class="dropzone dz-message">
              <span class="btn btn-white-green pre_upload upload_file"><%= t 'click_to_load' %>
                <span><%= t 'or_drag_your_image_here' %></span>
              </span>
            </div>
            <div id="preview" class="preview">
              <div class="items">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-group">
        <%= f.submit t('save'), class: 'btn btn-green btn-big' %>
        <span class="btn btn-white-green cancel btn-big"><%= t('cancel') %></span>
      </div>
    </div>
    <% end %>
  </div>
</div>
