<div class="card card-integrations-title">
    <h2 class="card-integrations-title"><%= t 'integrations' %></h2>
</div>
<div class="main-content-info test-plan-activity">
  <ul class="nav-tabs">
    <li><a href="#sdkIntegration" class="btn btn-gray active">
      <%= t 'sdk_integrations' %>
    </a></li>
    <li><a href="#pluginIntegration" class="btn btn-gray">
      <%= t ' plugin_integrations' %>
    </a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane tab" id="sdkIntegration">
      <%= render 'synchronizations/sdk_integrations' %>
    </div>

    <div class="tab-pane tab" id="pluginIntegration">
      <%= render 'synchronizations/plugin_integrations' %>
    </div>
  </div>
</div>
