<div class="card card-tab-content tab">
  <div class="card-header">
    <h2 class="card-header-title">
      <%= t 'users.change_password' %>
    </h2>
  </div>
  <%= render 'shared/error_message' %>
  <div class="columns-wrapper">
    <div id='personal_info_notice'></div>
    <div class="card-form-column">
      <%= form_for(@user, url: change_password_path(@user),
                          html: { method: :post,
                                  class: 'edit_user',
                                  id: 'edit_user_password' },
                          validate: true,
                          remote: true) do |f| %>
        <div class="input_wrapper">
          <%= f.label :current_password, t('users.current_password') %>
          <input type="password" style="display:none;">
          <%= password_field_tag :current_password, params[:current_password], autofocus: true, autocomplete: "off" %>
        </div>

        <div class="input_wrapper">
          <%= f.label :password, t('users.new_password') %>
          <%= f.password_field :password, validate: true, autocomplete: "off" %>
        </div>

        <div class="input_wrapper">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, validate: true,
                                                       autocomplete: "off" %>
        </div>

        <%= f.submit t('save'), class: 'btn btn-green' %>
      <% end %>
    </div>
  </div>
</div>
