<div id="content">
  <div class="main-content">
    <div class="card card-tab-content sign">
      <div id='personal_info_notice'></div>
      <%= form_for(@user, url: invitation_user_update_path(@user),
                          validate: true,
                          html: { method: :put,
                                  remote: true }) do |f| %>
        <div class="input_wrapper">
          <%= f.label :first_name, class: 'title' %>
          <%= f.text_field :first_name, validate: true, autofocus: true %>
        </div>
        <div class="input_wrapper">
          <%= f.label :last_name, class: 'title' %>
          <%= f.text_field :last_name, validate: true, autofocus: true %>
        </div>
        <div class="input_wrapper">
          <%= f.label :email, class: 'title' %>
          <%= f.email_field :email, validate: { uniqueness: false }, autofocus: true %>
        </div>
        <div class="input_wrapper">
          <%= f.label :company %>
          <%= f.text_field :company %>
        </div>
        <div class="input_wrapper drop-arr">
          <%= f.label :county, class: 'title' %>
          <%= country_select('user', 'country', {}, id: 'countryMyProfile') %>
        </div>
        <div class="input_wrapper">
          <%= f.label :password, class: 'title' %>
          <input type="password" style="display:none;">
          <%= f.password_field :password, validate: true, autocomplete: "off" %>
        </div>
        <div class="input_wrapper">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, validate: true, autocomplete: false %>
        </div>
        <div class="actions">
          <%= f.submit t('create_user'), class: "btn btn-green" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
