<!-- Modal content -->
<div class="modal-dialog modal-delete">
  <div class="modal-content">
    <div class="title-main">
      <h3><%= t('delete?') %></h3>
      <span class="close">
        <%= image_tag('close-icon.svg', class: 'img-svg') %>
      </span>
    </div>
    <div class="modal-body">
      <span class="delete-info"><%= text %></span>
      <div class="btn-group">
        <%= link_to 'Delete', url,
                              remote: true,
                              method: :delete,
                              id: 'confirm',
                              class: "btn btn-red" %>
        <span id='cancel' class="btn btn-white-green cancel"><%= t('cancel') %></span>
      </div>
    </div>
  </div>
</div>
