<div class="modal-dialog map-fields">
  <div class="modal-content container">
    <div class="title-main">
      <h3><%= t('map_fields') %></h3>
      <p><%= t('select_the_csv_fields_to_import') %></p>
      <span class="close">
        <%= image_tag('close-icon.svg', class: 'img-svg') %>
      </span>
    </div>
    <div class="modal-content-scroll">
      <div class="modal-body">
        <div class="row">
          <div class="col xs-12">
            <%= form_tag(select_fields_path, method: :post, remote: true, id: 'parse_csv') do %>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <%= hidden_field_tag :object, @object_name %>
              <%= hidden_field_tag :test_plan_id, @test_plan_id if defined?(@test_plan_id) %>
              <table class="map-fields-table">
                <tr class="table-title">
                  <td><%= t('csv_field') %></td>
                  <td></td>
                  <td><%= @object_name %> <%= t('field') %></td>
                </tr>
                <% @csv_headers.each do |csv_field, example| -%>
                  <tr class="field">
                    <td>
                      <p class="field-name"><%= csv_field %></p>
                      <p class="field-info">(e.q. <%= example %>)</p>
                    </td>
                    <td>
                      <%= image_tag('arrow.svg', class: 'img-svg') %>
                    </td>
                    <td>
                      <div class="input_wrapper drop-arr">
                        <%= select_tag "#{@object_name}[#{csv_field}]",
                                       options_for_select(@model_fields,
                                                          substitute_value(csv_field.underscore)),
                                       { prompt: t('dont_map_this_field'),
                                         class: 'import_select' } %>
                      </div>
                    </td>
                  </tr>
                <% end -%>
              </table>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-grey btn-big " id="next"><%= t('next') %></button>
      <%= link_to t('back'), upload_csv_path(@project, object: @object_name), class: 'btn btn-white-green btn-big', remote: true %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    bind_custom_scrollbar();
    custom_select();
    check_any_ddslick_selected();
    ddslick_direction();
  });
</script>
