<div class="col xs-7">
  <div class="input_wrapper drop-arr">
    <%= f.label :organization, class: 'star' %>
    <%= f.select :organization_id,
                 @organizations,
                 { include_blank: t('choose_organization') },
                 id: 'organization', class: 'validate_select' %>
  </div>
  <div class="popup-platforms">
    <p class="platform-label"><%= t('platform') %></p>
    <div class="popup-platforms-block">
      <%= f.collection_check_boxes :platform_ids, Platform.all, :id, :name do |b| %>
        <%= b.check_box(id: b.text, class: 'checkbox' ) %>
        <%= b.label(class: 'sign-up-checkbox-label', for: b.text) do %>
          <span class="fa fa-<%= platform_icon(b.text) %>" aria-hidden="true"></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="input_wrapper">
    <%= f.label :title, class: 'star' %>
    <%= f.text_field :title, validate: true %>
  </div>
</div>
<div class="col xs-5">
  <%= render partial: 'shared/dropzone_area', locals: { object: @project } %>
</div>
