<div class="modal-dialog add-project">
  <div class="modal-content container">
    <div class="title-main">
      <div id='info_notice'></div>
      <h3><%= t 'add_project' %></h3>
      <span class="close">
        <%= image_tag('close-icon.svg', class: 'img-svg') %>
      </span>
    </div>
    <div class="modal-body">
      <%= form_for(@project, url: projects_path,
                             html: { class: 'form_with_dropzone' },
                             validate: true) do |form| %>
        <div class="row">
          <%= hidden_field_tag :type, params[:type]   %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= render 'form_fields', f: form %>
        </div>
        <%= form.submit t('project.add_new'), class: 'btn btn-green' %>
        <span class="btn btn-white-green cancel"><%= t('cancel') %></span>
      <% end %>
  </div>
</div>