<div class="plans">
  <h3 class="title"><%= t 'test_plans' %></h3>
  <%= new_test_plan_link(params[:project_id]) %>
</div>
<div class="cases">
  <h3 class="title"><%= t 'test_cases' %></h3>
  <%= render partial: 'projects/add_links' %>
</div>
<div class="contains">
  <h3 class="title"><%= t 'contains' %></h3>
  <div class="title-info">
    <span class="number modules_count">
      <%= @current_plan.try { test_modules.count } || 0 %>
    </span>
    <%= t 'modules_and' %>
    <span class="number cases_count">
      <%= @current_plan.try { test_cases.count } || 0 %>
    </span>
    <%= t 'cases_down_case' %>
  </div>
</div>
