<div class="modal-dialog synchronization">
  <div class="modal-content container">
    <div class="title-main">
      <h3 class="title"><%= t 'get_test_object' %></h3>
      <span class="close">
        <%= image_tag('close-icon.svg', class: 'img-svg') %>
      </span>
    </div>
    <div class="modal-content-scroll">
      <div class="modal-body">
        <div class="row">
          <div class="col xs-12">
            <table class="synchronization-table">
              <tr class="table-title">
                <th colspan="plugin-name"><%= t 'plugin' %></th>
                <th><%= t 'member_name' %></th>
                <th><%= t 'added' %></th>
                <th>
                </th>
              </tr>
              <!-- ===== Member ===== -->
              <% @settings.each do |setting| %>
                <tr class="table-field plugin_settings">
                  <td class='plugin-name'>
                    <%= "#{t 'plugin_for_integration_with'} #{Project::PLUGINS.key(setting.name)}" %>
                  </td>
                  <td class='member-name'>
                    <%= setting.user.name %>
                  </td>
                  <td class="time-added">
                    <%= setting.created_at.strftime("%d/%m/%y %H:%M:%S") %>
                  </td>
                  <td plugin-name='<%= setting.name %>' plugin-id='<%= setting.id %>'>
                    <input name='setting-radio' type="radio" id="radio<%= setting.name + '-' + setting.id.to_s %>" class="radio">
                    <label for="radio<%= setting.name + '-' + setting.id.to_s %>" class="table-radio-label"></label>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div> <!--modal-body-->
    </div>
    <div class="btn-group">
      <%= get_build_button %>
      <button type="button" class="btn btn-white-green cancel">
        <%= t('cancel') %>
      </button>
    </div>
  </div>
</div>
