<div class="modal-dialog modal-add-case">
  <div class="modal-content">
    <div class="title-main">
      <h3><%= t 'edit_case' %></h3>
      <span class="close">
        <%= image_tag('close-icon.svg', class: 'img-svg') %>
      </span>
    </div>
    <%= form_for(@test_case, validate: true, method: :put, remote: true) do |f| %>
      <div class="modal-content-scroll">
        <div class="modal-body">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= f.hidden_field :updated_by, value: current_user.id %>
          <div class='field case-title'>
            <%= f.label :title, class: 'title' do %>
            <%= t 'title' %><sup>*</sup>
            <% end %>
            <%= f.text_field :title, autofocus: true, validate: true %>
          </div>
          <div class="case-selection clearfix">
            <div class="field input_wrapper drop-arr case-selection-item">
              <%= f.label :test_module, class: 'title' do %>
              <%= t 'module' %><sup>*</sup>
              <% end %>
              <%= f.select :module_id, options_for_select(@test_modules.map { |m| [m.title, m.id] }, selected: @test_case.test_module.id), {}, id: 'section', class: 'validate_select'  %>
            </div>
            <div class="field input_wrapper drop-arr case-selection-item">
              <%= f.label :case_type, class: 'title' do %>
              <%= t 'type' %><sup>*</sup>
              <% end %>
              <%= f.select :case_type, ::TestCase.case_type.options, {}, id: 'issue_type' %>
            </div>
          </div>
          <div class="field presteps">
            <%= f.label :pre_steps, t('presteps'), class: 'title' %>
            <%= f.text_area :pre_steps %>
            <!-- <span class="example"><%= t 'presteps_example' %></span> -->
          </div>
          <div class="field steps">
            <%= f.label :steps, class: 'title' %>
            <%= f.text_area :steps %>
            <span class="example"><%= t 'steps_example' %></span>
          </div>
          <div class="field expected_result">
            <%= f.label :expected_result, class: 'title' %>
            <%= f.text_area :expected_result %>
            <span class="example"><%= t 'expected_result_example' %></span>
          </div>
        </div>
      </div>
      <div class="actions btn-group">
        <%= f.submit t('save'), class: 'btn btn-green' %>
        <button type="button" class="btn btn-white-green cancel"><%= t('cancel') %></button>
      </div>
    <% end %>
  </div>
</div>
