<div class="modal-dialog add-organization">
  <div class="modal-content container">
    <div class="title-main">
      <div id='info_notice'></div>
      <h3><%= t('change_organization') %></h3>
      <span class="close">
        <%= image_tag('close-icon.svg', class: 'img-svg') %>
      </span>
    </div>
    <div class="modal-body">
      <%= form_for(@organization, url: organization_update_path(@organization),
                   validate: true,
                   html: { method: :put,
                           remote: true,
                           data: { "organization-id": @organization.id },
                           class: 'form_with_dropzone edit_organization' }) do |form| %>
        <div class="row">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= render 'form_fields', f: form %>
        </div>
        <%= form.submit t('save_changes'), class: 'btn btn-green' %>
        <span class="btn btn-white-green cancel"><%= t('cancel') %></span>
      <% end %>
    </div>
  </div>
</div>
