<footer class="<%= footer_class(no_project) %>">
  <span class="main-footer-copyright"><%= all_rights_info %></span>
<!--   <ul class="main-footer-nav">
      <li><%= link_to t('privacy_policy'), "#" %></li>
      <li><%= link_to t('term_and_cond'), "#" %></li>
      <li><%= link_to t('about_us'), "#" %></li>
      <li><%= link_to t('pricing'), "#" %></li>
      <li><%= link_to t('contact_us'), "#" %></li>
  </ul> -->
</footer>
