<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= meta_shrink_to_fit_tag %>
    <%= yield :meta %>

    <title>EasyQA Test Management Tool</title>

    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script type="text/javascript" src="/js/libs/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/libs/jquery.ddslick.js"></script>
    <script type="text/JavaScript" src="/js/libs/jquery.print.js"></script>
    <script type="text/JavaScript" src="https://mottie.github.io/tablesorter/js/jquery.tablesorter.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <% unless Rails.env.standalone? %>
      <%= render "layouts/yandex_metrika" %>
    <% end %>
  </head>
  <body>
   <%= include_gon %>
    <div class="wrapper">
      <%= (render 'layouts/sign_menu', no_project: without_left_menu?) if user_signed_in? %>
      <div class="content-wrapper">
        <%= content_for?(:application) ? yield(:application) : yield %>
      </div>
      <%= render 'layouts/footer', no_project: without_left_menu? %>
    </div>
    <%= render 'layouts/modal' %>
  </body>
</html>
